centr-krasok-rag-bot/workflows/2_upload_knowledge.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "data",
              "value": "Центр Красок #1 — База знаний\n\n1. О компании\n«Центр Красок #1» — это сеть магазинов лакокрасочной продукции и декоративных отделочных материалов в Казахстане. Юридическое лицо: ТОО «ЭКСПОНЕНТА1», БИН 260440005969.\nЮридический адрес: Республика Казахстан, Ауэзовский район, г. Алматы, ул. Кабдолова, дом 1/8.\nСлоган: «Мы несём вам и вашему дому красочное настроение!»\n\n2. Чем занимается компания\nЦентр Красок #1 — это интернет-магазин и сеть шоу-румов, где можно купить: краски (интерьерные, фасадные, по дереву, по металлу, аэрозольные, фактурные, универсальные), декоративные отделочные материалы (штукатурки, декоративная лепнина), грунтовки и шпатлёвки, лаки, масла, пропитки, антисептики, клеи, герметики, монтажные пены, обои под покраску, растворители и очистители, малярные инструменты — кисти, валики, шпатели, наждачную бумагу, краскопульты, термофены.\n\n3. Услуги компании\nКолеровка: в Центре Красок #1 колеруют краски в 45 000 оттенков.\nДоставка: курьерская доставка до двери по всему Казахстану. Также доступен самовывоз из шоу-румов.\nБесплатные консультации специалистов: помощь в подборе краски под конкретную задачу.\nПодбор цвета: на сайте есть сервис подбора цвета — для гостиной, для детской, для кухни и ванной, для потолков, для фасадов.\nПрограмма для дизайнеров: консультации экспертов, скидки и бонусы за закупки, программа лояльности.\nПрограмма для строителей: отдельные условия для строительных компаний и бригад.\n\n4. Где находится офис и магазины\nЮридический адрес: г. Алматы, ул. Кабдолова, дом 1/8.\nШоу-румы есть в Алматы и Астане. Доставка осуществляется в 23 города Казахстана: Актау, Актобе, Алматы, Астана, Атырау, Жанаозен, Жезказган, Караганда, Кокшетау, Конаев, Костанай, Кызылорда, Павлодар, Петропавловск, Семей, Талдыкорган, Тараз, Туркестан, Темиртау, Уральск, Усть-Каменогорск, Шымкент, Экибастуз.\nГрафик работы: ежедневно с 10:00 до 20:00, без выходных.\n\n5. Бренды\nВ магазине представлено более 40 брендов:\nПремиальные краски: Dulux, Luxium by Dulux Professional, Masterline, Marshall, Dufa, Sikkens, Sikkens Heritage, Levis, Pinotex, Profilux, Profi Tec, PUFAS, Color Expert, TEKNOS.\nДекоративные материалы и штукатурки: Oikos (Италия), Maitre Deco (Франция), Argile (Франция), Little Greene (Англия), Paint and Paper Library (Англия), Kelly-Moore (США), Swiss Lake, KraftHaus, HYGGE, Selena, Charmant, Orac Decor (лепнина), TERRACO, Vetonit, MAKO, STORCH, DANOGIPS.\nСпециальные материалы: Hammerite (краски по металлу), KUDO, MASTER color (аэрозоли), Anza (Швеция, кисти и валики), Wagner (краскопульты), TimberCare (пропитки), Tytan, Quelyd (клеи и пены), L'outil Parfait (Франция, инструменты).\n\n6. Категории товаров\nАнтисептики и пропитки, грунтовки, декоративная лепнина, защитные составы, интерьерные краски, клеи и герметики, краски по дереву, краски по металлу, краски универсальные, краски аэрозольные, краскопульты, лаки и масла, малярные инструменты, монтажные пены, обои под покраску, растворители и очистители, фактурные краски, фасадные краски, шпатлёвки финишные, штукатурки декоративные.\n\n7. Клиенты компании\nСреди клиентов — известные компании, дизайн-студии и архитектурные бюро: МАСП, Casa Azzurra, Mossebo, Pinteriors, Alyer, One Space, Shafran, Шатура, Umtyl Edu, Rams City, Four Seasons, Центр декора, Cappuccino, Desso, INTHAI, Juzo, Mega, Salvare, YA, MIG.\n\n8. Примеры цен\nКраска Dulux Professional BINDO 7 матовая BC 0,9 л — 7 270 тенге.\nКраска Dulux Professional BINDO 7 матовая BC 2,25 л — 18 290 тенге.\nКраска Dulux Professional BINDO 7 матовая BC 9 л — 56 250 тенге.\nКраска Dulux Professional Diamond Max Protect мат BC 2,25 л — 42 550 тенге.\nКраска Dulux Easy мат BC 2,25 л — 19 580 тенге.\nКраска Luxium Prof BINDO 3 глубокоматовая BW 9 л — 37 088 тенге (скидка 20%).\nКраска Masterline Export 7 мат латексная BW 9 л — 34 096 тенге (скидка 17%).\nКраска Marshall AKRIKOR фасадная матовая BW 9 л — 43 243 тенге (скидка 17%).\nГрунт Luxium Bindo Primer 9 л — 18 513 тенге (скидка 15%).\nКраска Luxium Окна и Двери полуматовая BW 0,75 л — 10 640 тенге.\nКраска Luxium Мебель и Дерево матовая BW 0,75 л — 10 640 тенге.\nDufa Fassadenfarbe RD90 9 л — 35 480 тенге.\nDufa Mattlatex RD100 9 л — 25 560 тенге.\nРегулярно проводятся акции и распродажи со скидками до 20%.\n\n9. Способы оплаты\nVisa, Mastercard, Kaspi (Kaspi Gold, Kaspi Pay, Kaspi Red). Оплата возможна онлайн на сайте и в шоу-руме при получении.\n\n10. Контакты\nАлматы: адрес ул. Кабдолова, дом 1/8, Ауэзовский район. Телефон +7 (777) 292-84-01. Часы работы ежедневно, 10:00–20:00.\nАстана: телефон +7 (777) 292-84-01. Часы работы ежедневно, 10:00–20:00.\nОбщие контакты: телефон для заявок +7 (778) 061-50-00. Email info@centr-krasok.kz. Сайт centr-krasok.kz.\nСоциальные сети: Instagram centr_krasok, Facebook, YouTube.\n\n11. Языки обслуживания\nРусский, казахский, английский.\n\n12. Часто задаваемые вопросы\nСколько оттенков можно подобрать? В Центре Красок #1 доступна колеровка в более чем 45 000 оттенков.\nКакие города охвачены доставкой? 23 города: Алматы, Астана, Актау, Актобе, Атырау, Жанаозен, Жезказган, Караганда, Кокшетау, Конаев, Костанай, Кызылорда, Павлодар, Петропавловск, Семей, Талдыкорган, Тараз, Туркестан, Темиртау, Уральск, Усть-Каменогорск, Шымкент, Экибастуз.\nМожно ли получить консультацию перед покупкой? Да, бесплатная консультация специалистов.\nКакой режим работы? Ежедневно с 10:00 до 20:00 без выходных.\nСертифицированный ли товар? Да, вся продукция сертифицированная и экологичная.\nСколько брендов представлено? Более 40 брендов из Италии, Франции, Англии, Нидерландов, США.\nЕсть ли акции и скидки? Да, регулярно. Скидки до 20% на популярные позиции.\nКакие способы оплаты? Visa, Mastercard, Kaspi.\n\n13. Преимущества компании\nДоставка до двери по всему Казахстану, сертифицированный и экологичный товар, бесплатные консультации от специалистов, колеровка в 45 000 оттенков, постоянное обновление ассортимента, каталог из 40+ ведущих мировых брендов, удобный самовывоз из шоу-румов в Алматы и Астане, регулярные акции и распродажи.",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "filename",
              "value": "Centr_Krasok_Knowledge_Base.txt",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "file_type",
              "value": "txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14d1ac27-ae17-4333-946f-d8e7df561ab3",
      "name": "Set Company Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first();\n\nlet text = (item.json.data || item.json.text || item.json.content || '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst filename = item.json.filename || 'kb.txt';\nconst file_type = item.json.file_type || 'txt';\n\nif (!text || text.length < 200) {\n  throw new Error('Слишком короткий текст: ' + text.length);\n}\n\ntext = text.replace(/[\\u0000-\\u001F\\u007F]/g, '');\n\nconst CHUNK_SIZE = 800;\nconst OVERLAP = 80;\nconst MAX_CHUNKS = 50;\nconst MIN_STEP = 400;\n\nconst chunks = [];\nlet i = 0;\nlet iter = 0;\n\nwhile (i < text.length && chunks.length < MAX_CHUNKS) {\n  iter++;\n  if (iter > 200) throw new Error('Loop guard: ' + iter);\n  \n  let end = Math.min(i + CHUNK_SIZE, text.length);\n  \n  if (end < text.length) {\n    const lastDot = text.lastIndexOf('.', end);\n    const lastSp = text.lastIndexOf(' ', end);\n    const cut = Math.max(lastDot, lastSp);\n    if (cut > i + MIN_STEP) end = cut + 1;\n  }\n  \n  const piece = text.slice(i, end).trim();\n  \n  if (piece.length >= 80 && /[а-яА-Яa-zA-Z0-9]/.test(piece)) {\n    chunks.push(piece);\n  }\n  \n  const nextI = end - OVERLAP;\n  i = (nextI > i) ? nextI : (i + MIN_STEP);\n  \n  if (end >= text.length) break;\n}\n\nif (chunks.length === 0) throw new Error('Нет валидных чанков');\n\nreturn chunks.map((content, idx) => ({\n  json: {\n    content,\n    chunk_index: idx,\n    total_chunks: chunks.length,\n    filename,\n    file_type\n  }\n}));\n"
      },
      "id": "b1b2d5d5-bb5d-4d3e-973a-c709b3600c8c",
      "name": "Chunk Text1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst docId = $('Insert Document Record1').first().json.id;\nconst chunks = $('Chunk Text1').all();\nreturn chunks.map(c => ({\n  json: { ...c.json, document_id: docId }\n}));\n"
      },
      "id": "b601957a-974a-4b50-95ae-83ab3b735f5c",
      "name": "Attach document_id1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_vectors (text, metadata, embedding, document_id) VALUES ($1, $2::jsonb, $3::vector, $4);",
        "options": {
          "queryReplacement": "={{ $('Attach document_id1').item.json.content }},={{ JSON.stringify({filename: $('Attach document_id1').item.json.filename, chunk_index: $('Attach document_id1').item.json.chunk_index}) }},={{ JSON.stringify($json.data[0].embedding) }},={{ $('Attach document_id1').item.json.document_id }}"
        }
      },
      "id": "b294914f-da7d-4cd8-90b1-8262d493d79d",
      "name": "Insert Vector1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5664,
        -336
      ],
      "credentials": {
        "postgres": {
          "id": "jWMCt3Dk4zhuBOtZ",
          "name": "web_site_dash"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_vectors WHERE document_id IN (SELECT id FROM documents WHERE filename = $1);\nDELETE FROM documents WHERE filename = $1;\nINSERT INTO documents (filename, file_type, chunks_count) VALUES ($1, $2, $3) RETURNING id;",
        "options": {
          "queryReplacement": "=={{ $json.filename }},={{ $json.file_type }},={{ $json.total_chunks }}"
        }
      },
      "id": "27d07657-c51d-4141-91a4-8e89f92907d1",
      "name": "Insert Document Record1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4624,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "jWMCt3Dk4zhuBOtZ",
          "name": "web_site_dash"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        5136,
        -240
      ],
      "id": "e813d3db-0449-4c5f-8b37-6d72cc9deb42",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "jWMCt3Dk4zhuBOtZ",
          "name": "web_site_dash"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4928,
        80
      ],
      "id": "0acb256d-bf00-40f4-b256-fa88428237b0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2CC3ugMnHdGlBbRK",
          "name": "test_api"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Attach document_id1').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5280,
        -32
      ],
      "id": "0204f752-2d86-4c5f-bd57-a19f1f860237",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5296,
        128
      ],
      "id": "1e7f641f-1983-45ad-96a9-67343846c9bb",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Set Company Text": {
      "main": [
        [
          {
            "node": "Chunk Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text1": {
      "main": [
        [
          {
            "node": "Insert Document Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach document_id1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Vector1": {
      "main": [
        []
      ]
    },
    "Insert Document Record1": {
      "main": [
        [
          {
            "node": "Attach document_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Insert Vector1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2f9159a30002693dd71ebee84388e216f4e8ec09e43e342b6aae2d1f513666"
  }
}